/* make the w3-red class have a red background color and black text */
.w3-red{
    background-color: #C41D1D !important;
    color: #000000 !important;
    margin-top: 0%;
}

/* make the w3-button class have a red background color and white text */
.w3-button:hover { 
    background-color: #AE1111 !important;
}

/* make the w3-bar class have an overflow of visible */
.w3-bar {
    overflow: visible;
}

/* make the nav class have a position of relative and a z-index of 1 */
.nav {
    position: relative;
    z-index: 1;
}

/* make the nav font size 4rem and width 100% */
nav {
    font-size: 4rem;
}

/* make the order-now button red with rounded corners and a font size of 5rem */
.order-now {
    background-color: #C41D1D;
    border-radius: 2rem;
    font-size: 5rem;
    text-align: center;
    grid-column: 1;
    grid-row: 2;
    justify-self: center;
    align-self: center;
    padding: 1.5rem;
}

/* make the order-now button a link with no text decoration */
.order-now a {
    text-decoration: none;
}

/* Add hover effect for the order-now button */
.order-now:hover {
    transform: scale(1.05);
}

/* header in the home page */
.homeheader {
    text-align: center;
    grid-row: 1;
    grid-column: 1;
    margin-top: 10rem;
}

/* make the h1 in the homeheader class have a font size of 3rem */
.homeheader h1 {
    font-size: 3rem;
}

/* make the two-column class a grid with two columns and a grid row of 2/3 */
.two-column {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(43rem, 1fr));
}

/* make the three-row class a grid with three rows and a min-height of 100vh */
.three-row {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

/* spicyimg clas has margin-top of 5rem*/
.spicyimg {
    margin-top: 2rem;
}

/* make the images in the spicyimg class have 60% of the width */
.spicyimg img {
    width: 30rem;
    margin-left: 30%;
}

/* make the footer have a grid row of 3 */
footer {
    font-size: 1.5rem;
    grid-row: 3;
    padding-bottom: 2.5rem;

}

/* make the body have a background color of #E4C443 and a min-height of 100vh */
body {  
    background-color: #E4C443;
    min-height: 100vh;
    padding: 0;
}

/* make the site-header class have a width of 100% and box-sizing of border-box */
.site-header {
    width: 100%;
    box-sizing: border-box;
}

/* make the phome class have a text-align of center and a font size of larger */
.phome {
    text-align: center;
    font-size: larger;
    
}

/* make the fourth child of the two-column class have a font size of 1.5rem */
.two-column > :nth-child(4)
 {
      font-size: 1.5rem;
}

/* make the third child of the two-column class have a font size of 3rem */
.two-column > :nth-child(3) {
    font-size: 3rem;
}

/* five-column class is a grid with five columns and a gap of 5% */
.five-column {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(11.25rem, 1fr));
    margin-top: 4rem;
    margin-bottom: 4rem;
    gap: 5rem;
}

/* make the first child of the five-column class have a max-width of 1fr and center the text */
.five-column > :nth-child(1) {
    overflow-wrap: break-word;
    text-align: center;
    max-width: 1fr;
}

/* card class is a yellow card with padding and centered text */
.card {
  background-color: #FFCC00;
  padding: 5%;
  text-align: center;
  border-radius: 1rem;  
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* breaks words in the card p if they are too long */
.card p {
    overflow-wrap: break-word; 
}

/* nav dropbtn has red background color*/
.nav.dropbtn {
    background-color: #C41D1D;
}

/* button-class is a red button with no border and rounded corners */
.button-class {
    margin: 0 auto;
    margin-bottom: 1.5rem;
    width: 50%;
    display: block;
    background-color: #C41D1D;
    border: none;
    text-decoration: none;
    border-radius: 2rem;
    padding: 1rem;
}

/* Add hover effect for the button-class */
.button-class:hover {
    transform: scale(1.05);
}

/* three-column class is a grid with three columns and centered items */
.three-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;

}

/* make the images in the three-column class have 70% of the width */
.three-column img {
    width: 70%;
}

/* cardorder class is a yellow card with padding and centered text */
.cardorder {
  background-color: #FFCC00;
  padding: 5%;
  text-align: center;
  width: 50%;
  height: 40%;

}

/* cardorder p has a small font size and breaks words if they are too long */
.cardorder p {
    overflow-wrap: break-word; 
    font-size: small;
}

/* dropdown class is a container for the dropdown menu */
.dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

/* dropdown-content class is hidden by default and has a red background */
.dropdown-content{
    display: none;
    position: absolute;
    background-color:#C41D1D;
    overflow: hidden;
}

/* add hover effect for the dropdown content links */
.dropdown-content a{
    display: block;
    text-decoration: none;
    background-color: #C41D1D;
    overflow: hidden;
    font-size: x-large;
}

/* add hover effect for the dropdown content links */
.dropdown-content a:hover{
    background-color: #AE1111;
}

/* show the dropdown content when the user hovers over the dropdown or clicks on it */
.dropdown:hover .dropdown-content,
.dropdown:focus-within .dropdown-content {
    display: block;
}

/* dropbtn class is red with no border and a pointer cursor */
.dropbtn {
    background-color: #C41D1D;
    border: none;
    padding: none;
    cursor: pointer;
}

/* site-header class is positioned relative with a z-index of 100 and box-sizing of border-box */
.site-header {
    position: relative;
    z-index: 100;
    box-sizing: border-box;
}

/* card-dropdown class is a container for the dropdown menu */
.card-dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: max-content;
    align-self: center;
}

/* card-dropdown-content class is hidden by default and has a red background */
.card-dropdown-content{
    display: none;
    position: absolute;
    background-color:#C41D1D;
    overflow: hidden;
    top: 100%;
    left: 13%;
    width: 75%;
    min-height: 250%;
    flex-direction: column;
}

/* add hover effect for the card-dropdown-content links */
.card-dropdown-content a{
    display: block;
    text-decoration: none;
    background-color: #C41D1D;
    width: 100%;
    font-size: x-large;
    text-align: center;
}

/* add hover effect for the card-dropdown-content links */
.card-dropdown-content a:hover{
    background-color: #AE1111;
}

/* show the dropdown content when the user hovers over the card-dropdown or clicks on it */
.card-dropdown:hover .card-dropdown-content,
.card-dropdown:focus-within .card-dropdown-content {
    display:flex;
}

/* card-dropbtn class is red with no border and a pointer cursor */
.card-dropbtn {
    background-color: #C41D1D;
    border: none;
    padding: none;
    cursor: pointer;
}

/* flash-messages class is centered with a max-width of 25% and a margin of 2% auto */
.flash-messages {
    max-width: 25%;
    margin: 1% auto;
}

/* flash-alert class is centered with padding and rounded corners */
.flash-alert {
    padding: 3%;
    border-radius: 4%;
    text-align: center;
    font-weight: bold;
}

/* flash-error class is red with white text */
.flash-error {
    background-color: #ff4d4d;
    color: white;
}

/* flash-success class is green with white text */
.flash-success {
    background-color: #4CAF50;
    color: white;
}

/* about us section is centered with a margin on the right */
.aboutus {
    text-align: center;
    margin-right: 20% ;
    margin-top: 13%;
    margin-left: 10%;
}

/* about has a margin on the left */
.aboutus-image {
    margin-left: 5%;
}

/* contact container is centered */
.contact-container {
    text-align: center;
}

/* make the next and cart button in the bottom right corner*/
.rightcolumn{
    max-width: 1fr;
    padding: 5%;
    margin-top: auto
}
/* next button is red with no border and rounded corners */
.nextbutton {
    background-color: #C41D1D;
    max-width: 1fr;
    padding: 5%;
    text-align: center;
    border-radius: 0.5rem;  
    width: 100%;
    height: 4rem;
    text-decoration: none;
    font-size: large;
}

/* clear cart button is red with no border and rounded corners */
.clearcartbutton {
    background-color: #C41D1D;
    border: none;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

/* checkout container h1 has a font size of 3rem and a margin-bottom of 1rem */
.checkout-container h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

/* checkout container p has a font size of 1.5rem and a margin-bottom of 2rem */
.checkout-container p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

/* checkout container is centered with a yellow background and rounded corners */
.checkout-container {
    text-align: center;
    margin: 10rem;
    padding: 5rem;
    border-radius: 5rem;
    background-color: #FFCC00;
}

/* checkout button is red with no border and rounded corners */
.checkoutbutton {
    background-color: #C41D1D;
    border: none;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    text-decoration: none;
    display: inline-block;
}

/* Add hover effect for the checkout button */
.checkoutbutton:hover {
    transform: scale(1.05);
}

/* gohome button is red with no border and rounded corners */
.gohomebutton {
    background-color: #C41D1D;
    border: none;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem;
}

/* Add hover effect for the gohome button */
.gohomebutton:hover {
    transform: scale(1.05);
}

/* remove button is red with no border and rounded corners */
.removebutton {
    background-color: #C41D1D;
    border: none;
    border-radius: 0.5rem; 
}

/* Add hover effect for the remove button */
.removebutton:hover {
    transform: scale(1.05);
}

/* Add hover effect for the clear cart button */
.clearcartbutton:hover {
    transform: scale(1.05);
}

/* cart container is centered and has a yellow background */
.cart-container {
    text-align: center;
    background-color: #FFCC00;
    margin: 3rem;
    border-radius: 5rem;
}

/* cart items are centered and spaced out */
.cart-item {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 0.2rem;
    width: 100%;
}

/* red "back to menu" button */
.cartbutton {
    background-color: #C41D1D;
    text-decoration: none;
    border-radius: 0.5rem;
    padding: 0.3rem;
    display: inline-block;
}

/* Add hover effect for the cart button */
.cartbutton:hover {
    transform: scale(1.05);
}

/* login container is centered and has a yellow background */
.login-container {
    text-align: center;
    margin: 7rem;
    padding: 5rem;
    border-radius: 5rem;
    background-color: #FFCC00;
}

/* auth-form-group class is a flex container with centered items and a gap */
.auth-form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

/* auth-form-group label is larger and has a fixed width */
.auth-form-group label {
    font-size: 1.5rem;
    margin-right: 0.25rem;
    width: 8rem;
    white-space: nowrap;
}

/* auth-form-group input is padded, larger, and has rounded corners */
.auth-form-group input {
    padding: 0.4rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    border: none;
    width: 14rem;
}

/* auth-form-button is red with no border and rounded corners */
.auth-form-button {
    background-color: #C41D1D;
    text-decoration: none;
    border-radius: 0.5rem;
    border: none;
    padding: 0.5rem;
    font-size: 1.2rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

/* register button is red with no border and rounded corners */
.registerbutton {
    display: inline-block;
    text-decoration: none;
    font-size: 1.2rem;
    background-color: #C41D1D;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

/* Add hover effect for the register button */
.registerbutton:hover {
    transform: scale(1.05);
}

/* login-container h1 is larger and has a margin */
.login-container h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

/* Add hover effect for the auth-form-button */
.auth-form-button:hover {
    transform: scale(1.05);
}

/* login form is centered and has a max-width of 50% */
.error-container {
    text-align: center;
    margin-top: 8rem;
}

/* make the link in the error-container class have a red background color, no text decoration, rounded corners, padding, and a font size of 1.5rem */
.error-container a {
    background-color: #C41D1D;
    text-decoration: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
}
/* Add hover effect for the error-container link */
.error-container a:hover {
    transform: scale(1.05);
}

/* make the h1 in the error-container class have a font size of 6rem */
.error-container h2 {
    font-size: 4rem;
}

/* make the p in the error-container class have a font size of 2rem */
.error-container h1 {
    font-size: 6rem;
}

/* make the p in the error-container class have a font size of 2rem */
.error-container p {
    font-size: 2rem;
}