.w3-red
{
    background-color: #C41D1D !important;
    color: #000000 !important;
    margin-top: 0%;
}


nav {
    font-size: 50px;
    width: 100%;
}


.order-now {
    background-color: #C41D1D;
    border-radius: 20%;
    font-size: 30px;
    text-align: center;
    grid-column: 1;
    grid-row: 2;
    justify-self: center;
    align-self: center;
    padding: 2%;
}
.homeheader {
    text-align: center;
    grid-row: 1;
    grid-column: 1;
    margin-top: 20%;
}
.homeheader h1 {
    font-size: 55px;
}
.two-column {
    display: grid;
    grid-template-columns: auto auto;
    grid-row: 2/3;

}
.three-row {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.spicyimg {
    float: right;
    margin-top: 5%;
    margin-left: 30%;
}
.spicyimg img {
    width: 60%;
}
footer {
    font-size: 20px;
    grid-row: 3;
    padding-bottom: 3%;

}
body {  
    background-color: #E4C443;
    margin-top: auto;
    padding: 0;
}
.site-header {
    width: 100%;
    box-sizing: border-box;
}
.phome {
    text-align: center;
    font-size: larger;
    
}
.two-column > :nth-child(4)
 {
      font-size: 25px;
}
.two-column > :nth-child(3) {
    font-size: 45px;
}
.five-column {
    display: grid;
    grid-template-columns: auto auto auto auto auto;

}