{% extends "layout.html" %}
{% block body %}
<div class="two-column">

<div class="aboutus-image">
    <img src="../static/images/wokthiswayowner.png" alt="wokthisway"> </a>
</div>

<div class ="aboutus">
    
<h3>At Wok This Way, we believe great noodles bring people together. Born from a passion for authentic Asian street food, our kitchen delivers hot, fresh, and customizable meals made to fuel your day.

We source high-quality ingredients—from crisp vegetables and tender meats to our signature handcrafted sauces—ensuring every stir-fry is packed with bold flavor. Whether you choose a classic wok-tossed staple or build your own custom bowl, every dish is prepared fast, fresh, and cooked to order.

Stop by, take a seat, and savor the ultimate noodle experience. Good food, great vibes, and flavor done your way!</h3>
</div>
</div>




{% endblock %}