{% extends "layout.html" %}
{% block body %}

<div class="cart-container">
    <h1>Your Order Cart</h1>
<!-- Display flash messages -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    <div class="flash-messages">
        {% for category, message in messages %}
            <div class="flash-alert flash-{{ category }}">{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}
{% endwith %}

{% set cart_total = namespace(total=0) %}

{% for name, qty, price in bases %}
    <div class="cart-item">
        Noodle: {{ name }} x{{ qty }}
        <form action="/remove_from_cart" method="post">
            <input type="hidden" name="item_type" value="base">
            <input type="hidden" name="item_name" value="{{ name }}">
            <button type="submit" class="removebutton">Remove</button>
        </form>
    </div>
    {% set cart_total.total = cart_total.total + (qty * price) %}
{% endfor %}
{% for name, qty, price in sides %}
    <div class="cart-item">
        Side: {{ name }} x{{ qty }}
        <form action="/remove_from_cart" method="post">
            <input type="hidden" name="item_type" value="side">
            <input type="hidden" name="item_name" value="{{ name }}">
            <button  type="submit" class="removebutton">Remove</button>
        </form>
    </div>
    {% set cart_total.total = cart_total.total + (qty * price) %}
{% endfor %}

<p>Total: ${{ "%.2f"|format(cart_total.total) }}</p>

    {% if bases or sides %}
    <form action="/clear_cart" method="post">
        <button  type="submit" class="clearcartbutton">Clear Cart</button>
    </form>
{% endif %}

{% if bases or sides%}
    <form action="/checkout" method="post">
        <button type="submit" class="checkoutbutton">Process Order</button>
    </form>
{% endif %}

<a href="/orderbase" class="cartbutton">Back to menu</a>
</div>

{% endblock %}