{% extends "layout.html" %}
{% block body %}
<!-- home page goes here-->
<!-- a 3 column grid-->
 <div class="two-column">
        <!-- the name then the iamge -->
         <div class="homeheader">
            <h1>MOUTHWATERING <br>FIERY SPICY NOODLE <br> KNOCKOUT</h1>
         </div>
         <div class="spicyimg">
            <img src="static/images/spicynoodleknockout.png" alt="spicynoodleknockout" width="50%">
         </div>
         <div class="order-now">
            <a href="/" class="w3-bar-item w3-button"> <p>ORDER NOW</p> </a> 
         </div>
         <div class="phome">
            <p>Savor our Mouthwatering Fiery Spicy Noodle Knockout, <br>
            a bold and flavorful dish packed with intense spices and<br> 
            perfectly cooked noodles. With a fiery blend of chili <br>
            and seasonings, it delivers a delicious, heat-packed punch. <br>
            Perfect for spice lovers seeking a thrilling, savory <br>
            experience that keeps you coming back for more.</p>
         </div>
 </div>
{% endblock %}