<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Wok This Way</title> 
</head>
<body class="three-row">
    <!-- shared header bar-->
    
    
    <!-- shared nav bar-->
    <header class="site-header">
     <nav class="w3-bar w3-red" width="80%">
        <a href="/" class="w3-bar-item w3-button"> <img src="../static/images/wokthisway.png" alt="wokthisway"> </a>
        <a href="/order" class="w3-bar-item w3-button"> Order Now </a> 
        <a href="/cart" class="w3-bar-item w3-button"> Cart </a> 
        <a href="/login" class="w3-bar-item w3-button"> <img src="static/images/loginimg.png" alt="login"></a>
     </nav>
    </header>
     
     {% block body %}
     {% endblock %}
     <footer class="w3-bar w3-red">
      <a href="/about" class="w3-bar-item w3-button"> About us </a> 
      <a href="/contact" class="w3-bar-item w3-button"> Contact us</a> 
   </footer>
</body>
</html>