{% extends "layout.html" %}
{% block body %}

<div class="login-container">

    {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="flash-messages">
      {% for category, message in messages %}
        <div class="flash-alert flash-{{ category }}">{{ message }}</div>
      {% endfor %}
    </div>


    {% if session.get('user')%}
    <script>
      setTimeout(function() {
          window.location.href = "/"; <!--redirects to home--> 
      }, 1500); 
    </script>
    {% endif %}
  {% endif %}
{% endwith %}

    <h1>Login</h1>

    <form action="/login" method="post" class="auth-form">
        <div class="auth-form-group">
            <label for="username">Username</label>
            <input type="text" maxlength="25" name="username" class="auth-form-input" required> <!-- max lenght is 25, cant type anymore after 25 character -->
        </div>
        <div class="auth-form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="auth-form-input" required> <!-- no limit on password -->
        </div>
        <button type="submit" class="auth-form-button">Login</button> <!-- logs in user -->
    </form>

    <a href="/signup">Don't have an account? Register</a>
</div>


{% endblock %}



