
{% extends "layout.html" %}
{% block body %}
<!-- five column grid for layouit of the menu-->
<div class="five-column">
    {% for sideimage in results %}
<div class="card">
    <img src="{{ sideimage[1] }}" alt="{{ sideimage[0] }}">
    <p>{{ sideimage[0] }}</p>
    <p>${{ "%.2f"|format(sideimage[2]) }}</p>
    <!-- add to order button and quantity selector -->
    <form action="/add_to_cart" method="post">
        <input type="hidden" name="item_id" value="{{ sideimage[3] }}">
        <input type="hidden" name="item_type" value="side">

        <button type="submit" class="button-class">Add to order</button>

                <div class="quantity-controls">
            <label>Qty:
                <input type="number" name="quantity" class="qty-input" value="1" min="1" max="10">
            </label>
        </div>
    </form>
</div>
{% endfor %}
<div class ="rightcolumn">
<a href="/orderbase" class="nextbutton">Back</a>
<a href="/cart" class="nextbutton">Cart</a>
</div>
</div>


{% endblock %}