
{% extends "layout.html" %}
{% block body %}
<!-- five column grid for layouit of the menu-->
<div class="five-column">
    {% for toppingimage in results %}
    <div class="card">
    <img src="{{ toppingimage[1]}}" alt="">
    <p>{{toppingimage[0]}}</p>
    	<a href="/cart" class="button-class"> Add to order</a>
        <div class="card-dropdown">
            <button type="button" class="card-dropbtn">Quantity</button>
            <div class="card-dropdown-content">
               <button class="button-class">1</button>
               <button class="button-class">2</button>
               <button class="button-class">3</button>
            </div>
        </div> 
    </div>
{% endfor %}


</div>


{% endblock %}