
{% extends "layout.html" %}
{% block body %}
<!-- five column grid for layouit of the menu-->
<div class="five-column">
    {% for baseimage in results %}
    <div class="card">
    <img src="{{ baseimage[1]}}" alt="">
    <p>{{baseimage[0]}}</p>
    	<a href="/cart" class="button-class">Add to order</a>
        <div class="quantity-controls">
    <label for="qty">Qty:</label>
    <input type="number" name="quantity" class="qty-input" value="1" min="1" max="10">
</div>
    </div>
 

{% endfor %}

<a href="/orderside" class="nextbutton">Next</a>

</div>


{% endblock %}
